.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.register{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register{
    display: none;
}

.link-register{
    margin-top: 40px;
    display: block;
    cursor: pointer;
}

.link-signin{
    margin-top: 40px;
    display: block;
    cursor: pointer;
}